.title{
    -skrollr-animation-name: title-ani;
}
@-skrollr-keyframes title-ani {
    0{
        left:10%;
    }

    600{
        left:-100%;
    }
}
#about {
    -skrollr-animation-name: about-ani;
}
@-skrollr-keyframes about-ani {
    1000{
       top: 100%;
    }
    1600{
       top: 0%;
    }
}
.airplane {
    -skrollr-animation-name: airplane-ani;
}
@-skrollr-keyframes airplane-ani {
    2000{
        opacity: 0;
    }
    2500{
        opacity: 1;
        top:53vw;
        left:20vw;
    }
    3500{
        top:33vw;
        left:73vw;
    }
}

.plane {
    -skrollr-animation-name: plane-ani;
}
@-skrollr-keyframes plane-ani {
    3600{
        top: 0%;
    }
    4000{
        top: -53%;
    }
    4600{
        top: -53%;
    }
    5000{
        top: -100%;
    }
}
#about-b {
    -skrollr-animation-name: about-b-ani;
}
@-skrollr-keyframes about-b-ani {
    4000{
       top: 100%;
    }
    4600{
       top: 0%;
    }
}

.grad-wrap {
	-skrollr-animation-name: grad-ani;
}
@-skrollr-keyframes grad-ani {
    4000{
        bottom:100%;
    }
    5000{
        bottom: 10%;
    }
}

