body { overflow: hidden; }
p { font-size: 18px;}
h3, h4 {
    font: 28px bolder;
    line-height: 1.4;
}
#nav-bar { display: none;}
#nav-mobile, .nav-title { display: block;}

.home-section {
	position: absolute;
    height: 100%;
}
    #about-a {
        background: #ACDBEE url(../image/map.svg) 50% 0%/150% no-repeat;
    }
    #about-b {
        background: #8cdd81 url(../image/university.svg) 20% 70%/80% no-repeat;
    }
.scroll-icon {
    transform: translate(0,0%) rotate(-45deg);
    -o-transform: translate(0,0%) rotate(-45deg);
    -ms-transform: translate(0,0%) rotate(-45deg);
    -moz-transform: translate(0,0%) rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    animation: scroll-icon-ani 2s infinite linear;
    -o-animation: scroll-icon-ani 2s infinite linear;
    -moz-animation: scroll-icon-ani 2s infinite linear;
    -webkit-animation: scroll-icon-ani 2s infinite linear;
}
    .scroll-icon > i {
        display: block;
    }
.boy, .grad-wrap {
    position: absolute;
    z-index: 100;
    right: 0%;
    width: 120px;
    height: 240px;
    top: calc(70% - 120px);
}
.about-a-pass, .about-b-pass{
    top: 0;
    width: 100%;
    height: 100vw;
}
    .about-a-pass{
        background: url(../image/resumeimg.svg) top/100% no-repeat;
    }
    .about-b-pass{
        background: url(../image/gradhat.svg) 0% 20%/ 100% no-repeat;
    }
.airplane {
    position: absolute;
    top:53vw;
    left:20vw;
}
.home-title { top: 0%;}
.about-title{display: none;}
.section-text{
    position: absolute;
    text-align: left;
}
    #homepage-text{
        top: 45%;
        left: 10%;
        padding: 0 10px;
    }
    #about-a-text {
        top: 55%;
        left: 10%;
    }
    #about-b-text,#about-c-text {
        top: 15%;
        left: 10%;
    }
    #skill-text {
        width: 80%;
        top: 18%;
        left: 10%;
    }
        #skill-text > label {
            padding: 5px 10px;
            height: 35px;
            font-size: 22px;
            border: 2px solid #2f892b;
        }
.skill-star {
    top: 18%;
    width: 10%;
    height: 300px;
}
    .skill-star > li {
        height: 35px;
        margin: 37px 0 3px;
    }
    #star-a {left: 10%;}
    #star-b {left: 20%;}
    #star-c {left: 30%;}
    #star-d {left: 40%;}
    #star-e {left: 50%;}

.about-c-img {
	position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
}
.portfolio-block {
    width: 100%;
    margin-bottom: 10%;
}
    #port-01{
        background: url(../image/port01.jpg) center/cover no-repeat;
    }
    .portfolio-content {
        bottom: 0;
}
#contact-text {
    top: 20%;
    left: 10%;
    padding: 0;
    list-style: none;
}

@keyframes scroll-icon-ani {
    0%{opacity: 0;}
    25%{opacity: 1;
        transform: translate(0,0%) rotate(-45deg);}
    80%{
        opacity: 0;
        transform: translate(0,-100%) rotate(-45deg);
    }
    100%{
        opacity: 0;
        transform: translate(0,0%) rotate(-45deg);
    }
}
-o-@keyframes scroll-icon-ani {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        -o-transform: translate(0,0%) rotate(-45deg);
    }
    80%{
        opacity: 0;
        -o-transform: translate(0,-100% rotate(-45deg);
    }
    100%{
        opacity: 0;
        -o-transform: translate(0,0%) rotate(-45deg);
    }
}
-moz-@keyframes scroll-icon-ani {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        -moz-transform: translate(0,0%) rotate(-45deg);
    }
    80%{
        opacity: 0;
        -moz-transform: translate(0,-100%) rotate(-45deg);
    }
    100%{
        opacity: 0;
        -moz-transform: translate(0,0%) rotate(-45deg);
    }
}
-webkit-@keyframes scroll-icon-ani {
    0%{
        opacity: 0;
        -webkit-transform: translate(0,0%) rotate(-45deg);
    }
    25%{
        opacity: 1;
        -webkit-transform: translate(0,0%) rotate(-45deg);
    }
    80%{
        opacity: 0;
        -webkit-transform: translate(0,-100%) rotate(-45deg);
    }
    100%{
        opacity: 0;
        -webkit-transform: translate(0,0%) rotate(-45deg);
    }
}